# Archivos de compilación LaTeX
/build/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot

# Archivos temporales del sistema
.DS_Store
Thumbs.db
*.tmp

# Archivos de información
Cambios/
